exportPattern("^[[:alpha:]]+")
import(data.table)
import(maptools)
import(rgdal)
import(rgeos)
import(sp)
import(spdep)
import(methods)
importFrom("grDevices", "bmp","dev.new", "dev.off")
importFrom("graphics", "par", "text")
importFrom("stats", "median", "quantile", "sd")
importFrom("utils", "fix", "write.table")