exportPattern("^[[:alpha:]]+")
import(data.table)
import(tmap)
import(sf)
import(sp)
import(spdep)
import(methods)
importFrom("grDevices", "bmp","dev.new", "dev.off")
importFrom("graphics", "par", "text")
importFrom("stats", "median", "quantile", "sd","aggregate")
importFrom("utils", "fix", "write.table","head")